<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <!-- Define the ACL resource for the admin area -->
            <resource id="Magento_Backend::admin">
                <resource id="Custom_ConfigViewer::configviewer" title="Custom Config Viewer" sortOrder="100">
                    <resource id="Custom_ConfigViewer::cron" title="Cron Configuration" sortOrder="10">
                        <resource id="Custom_ConfigViewer::schedule" title="Cron Schedule" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>