<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <custom_configviewer>
            <cron>
                <!-- Set the default value for the cron schedule field -->
                <schedule>* * * * *</schedule>
            </cron>
        </custom_configviewer>
    </default>
</config>
