<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
    <add id="Feedback_Myreview::customer_feedback" title="Customer Feedback" module="Feedback_Myreview" parent="Magento_Customer::customer" action="myreview1/index/index" sortOrder="50" resource="Magento_Customer::customer"/>
</menu>
</config>




    <!--        resource="Feedback_Myreview::customer_feedback-->
